.header {
    background: $color5;
    color: #fff;

    &__nav {
      margin-bottom: 0;
      
      &__brand {
        a {
          color: $color-white;
          &:hover {text-decoration: none;}
        }
      }

      &__list-item {
        display:inline-block;
        margin: 10px 20px;
      }
    }
}

ul {
  padding: 0;
  margin: 0; }

.App {
  text-align: left; }

.App-logo {
  height: 100%;
  margin-right:15px;
}

.App-header {
  background-color: $color4;
  height: 150px;
  padding: 20px;
  color: white; }

