ul {
    padding: 0;
    margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

table {
  background: #eee;
}

.thumbnail {
  min-height: 434px;

  img {
    width: 250px;
    height: 250px;
  }

  button {
    position: absolute;
    bottom: 45px;
  }
}

.landing {
  background: $color-orange;
}
